// Bootstrap
/*@import '~bootstrap/scss/bootstrap';*/

// Custom styles
@import 'custom/fonts/material-icon/css/material-design-iconic-font.min.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@import 'custom/css/style.css';


input {
    font-size: 15px;
}

.result_wrap{
    color: black;
    justify-content: center;
    padding-bottom: 30px;
    /*display: none;*/
    .result_bits{
        margin: auto;
        float: none;
        width: 80%;
        background-color: #C4C4C4;
        border-radius: 40px;
        margin-bottom: 10px;
        min-height: 40px;
        justify-content: center;
        .result_bits_inner{
            width: 90%;
            margin: auto;
            float: none;
            padding-top: 5px;
        }
    }
    .full_result_box{
        margin: auto;
        float: none;
        width: 80%;
        
        .full_result_btn{
            color: #757575;
            text-decoration: underline;
            cursor: pointer;
            display: inline-block;
        }
    }
}

.grades_table_wrap{
    display: none;
    color: black;
}

.close_box{
    color: black;
    font-size: 20px;
    display: none;
    /*justify-content: center;*/
    .close_icon{
        display: inline-block;
        float: right;
        margin-right: 10px;
        i{
            cursor: pointer;
        }
    }
}

